body {
    background-color: #EFFFFD;
    margin: 0;
    padding: 0;
}
.container-fluid {
    height: 100vh;
    padding: 7%;
    
}


.head img {
    width: 300px;
    border-radius: 100%;
}
.head h1 {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
}
.into-text em {
    font-size: 20px;
}

a {
    color: #325288;
    margin-left: 20px;
    text-decoration: none;
}
a:hover {
    color: #003638;
    font-size: 20px;
}

a img {
    width: 25px;
}

p {
    font-size: 20px;
}

li {
    font-size: 16px;
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: gray;
    width: 100%
}

h1, h2, h3, h4 {
    color: #364F6B;
}

footer {
    width: 100%;
    background-color: #A5C9CA;
    padding-top: 5px;
    padding-bottom: 30px;
}

.table ul {
    list-style: none;
    margin: 0;
}
.table li {
    display: list-item;
}
.table li .ability-title {
    display: inline-block;
    width: 20%;
}

@media screen and (max-width: 768px) {
    .head img {
        max-width: 220px;
    }
    .head {
        text-align: center;
    }
    .head .info {
        margin: 16px auto;
        justify-content: center;
    }
}


@media screen and (max-width: 576px) {
    .work-name {
        font-size: 1rem;
    }
    .head h1 {
        font-size: 2.5rem;
    }
    .table li .ability-title {
        font-size: 10px;
        width: 10%;
    }
    .table li .ability-score {
        font-size: 10px;
    }
    .into-text h1 {
        font-size: 18px;
    }
    .into-text em {
        font-size: 14px;
    }
    
}

